<div class="card" style="width: 50%">
  <h2 class="card-header">Customer List</h2>
  <div class="card-body" >
<button type="button" class="btn btn-primary" [routerLink]="['/pages/customercreate']">Add</button>
<table class="table table-bordered table-hover"  >
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of customers">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td><button type="button" class="btn btn-primary" [routerLink]="['/pages/customeredit', item.id]">Edit</button> </td>
        <td><button type="button" class="btn btn-danger" (click)="deleteCustomer(item.id)">Delete</button> </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator
              [length]="totalReg"
              [pageSize]="regXPag"
              [pageSizeOptions]="pageSizeOptions"
              (page)="handlePages($event)"
              aria-label="Select page"
            >
            </mat-paginator>
  </div>
</div>