<div class="card" style="width: 80%">
    <h2 class="card-header">Product List</h2>
    <div class="card-body" >
<button type="button" class="btn btn-primary" [routerLink]="['/pages/salescreate']">Add</button>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Date</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price</th>
            <th scope="col">Customer</th>
            <th scope="col">Employee</th>
            <th scope="col">Product</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of salesList">
            <th scope="row">{{item.id}}</th>
            <td>{{item.date | date :'dd/MM/yyyy' }}</td>
            <td>{{item.unitPrice}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.totalPrice}}</td>
            <td>{{item.customerDTO.name}}</td>
            <td>{{item.employeeDTO.name}}</td>
            <td>{{item.productDTO.name}}</td>
            <td><button type="button" class="btn btn-primary" [routerLink]="['/pages/salesedit',item.id]">Edit</button></td>
            <td><button type="button" class="btn btn-danger" (click)="deleteSales(item.id)" >Delete</button></td>
        </tr>
    </tbody>
</table>
<mat-paginator
[length]="totalReg"
[pageSize]="regXPag"
[pageSizeOptions]="pageSizeOptions"
(page)="handlePages($event)"
aria-label="Select page"
>
</mat-paginator>
    </div>
</div>